dw5/src/main/mule/dw5.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e2cd540d-64a7-4e63-ac31-f51484bae65e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dw5Flow" doc:id="6e6a0abf-02be-49b7-b808-9c1d682ead5e" >
		<http:listener doc:name="Listener" doc:id="64e0e842-c8b0-4c6c-a403-392c5ae1fbcd" config-ref="HTTP_Listener_config" path="/dw5"/>
		<ee:transform doc:name="Transform Message" doc:id="93405b9b-b897-4ad0-ac0e-5bf14fd06bbc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
//payload..*food
//payload..*food.price
//payload..*food.price?
payload.. *food
//filter $."calories" as Number > 899
//distinctBy $."calories" 
//minBy $."calories"
//maxBy $."calories"
//orderBy -$."calories"
groupBy $."calories"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8b0095b5-b6c2-455d-8895-cbcd3648c5d7" message="#[payload]"/>
	</flow>
</mule>
